.button {
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 15px;
  margin: 0px 5px;
  width: max-content;
  font-weight: 500;
}

.primary {
  background-color: #db7093;
  color: #fff;
}

.secondary {
  background-color: #00000000;
  color: #fff;
  border: 2px solid #fff;
}

.third {
  background-color: #fff;
  color: #db7093
}