.main {
  padding: 10px 5%;
}

.item-container {
  line-height: 20px;
  margin: 20px;
  margin-bottom: 20px;
  border-bottom: 0.5px solid #d7d7d7;
}

h2 {
  font-weight: 400;
}

.body-preview {
  max-height: 40px;
  overflow: hidden;
}

.error-margin {
  margin: 10px 20px;
}

.error {
  padding: 10px 20px;
  color: #b72121;
  background-color: #fbaeae;
  border-radius: 5px;
  width: fit-content;
}

.metadata {
  padding-right: 20px;
  padding-top: 15px;
}

.author {
  font-weight: 500;
  font-size: 16px;
}

.date {
  font-size: 14px;
  font-weight: 300;
}

.right-date {
  float: right;
}

.upvote {
  float: right;
  display: flex;
  font-size: 20px;
}

.upvote-icon {
  height: 35px;
  margin: -5px;
}

.upvote-text {
  padding-left: 5px;
}

.thin {
  font-weight: 500;
}

.comment-section {
  margin: 20px;
}

.comment-container {
  border-bottom: 0.5px solid #d7d7d7;
  padding: 10px 0px;
}

.comment-author {
  font-size: 18px;
  margin-bottom: 5px;
}

@media (max-width: 767px) {
  .main {
    padding: 0px;
  }
}