.container {
  margin-right: 5px;
  margin-bottom: 10px;
  width: 90%;
}

.label {
  color: #808080;
  padding-bottom: 5px;
}

.input {
  border-radius: 3px;
  border: 1px solid #e5e5e5;
  font-size: 16px;
  padding: 10px 15px;
  width: -webkit-fill-available;
}

.input:focus {
  outline: none;
  border: 1px solid #db7093;
}

.icon {
  position: absolute;
  padding: 5px 0px;
}

@media (max-width: 767px) {
  .container {
    width: 100%
  }
}